.bash_history
.bash_profile
.cache
.dmrc
.gitconfig
.local
.ssh
.viminfo
.xsession-errors
.bash_logout
.fehbg
.git
.mozilla
.Xauthority
.xsession-errors.old
.lesshst
.thunderbird
Scripts/
.config/mimeapps.list
.histfile
.shell.pre*
.wget*
.zcomp*
.zsh_history
.zshrc.*
.vim/.net*
.oh-my-zsh/
